body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.nav {
    display: flex;
    height: 100%;
}

.menu {
    width: 250px;
    background-color: white;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 60px rgba(0, 0, 200, 0.1); /* Adding drop shadow */
    position: relative; /* Set the parent element to relative positioning */
}

.menu-text {
    color: #000; /* Text color */
    margin-left: 10px;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.26px;
    word-wrap: break-word
}

.menu-version{
    color: #838383;
    font-size: 10px;
    font-weight: 500;
    word-wrap: break-word;
    margin-top: 10px;
}

.greeting-message {
    text-align: center; /* Center the greeting message */
    margin-bottom: 20px; /* Add some space below the greeting message */
    font-size: 24px; /* Adjust the font size */
    color: #333; /* Adjust the color */
}


.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    color: #9197B3;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    display: block;
    padding: 15px;
    border-radius: 5px;
}

.menu ul li a img {
    vertical-align: middle; /* Align the logo vertically */
    margin-right: 15px; /* Add some space between the logo and text */
    width: 24px; /* Set the width of the image */
    height: 24px; /* Set the height of the image */
}

.menu ul li a:hover img {
    filter: brightness(0) invert(1); /* Invert the colors and set brightness to 0 */
}

.menu ul li a:hover {
    background-color: #5932EA;
    color: white;
}

.profile {
    width: 250px;
    position: absolute; /* Position the profile section absolutely */
    bottom: 10px; /* Align the profile section to the bottom */
    left: 10px; /* Adjust as needed */
    display: block;
    align-items: center; /* Center items vertically */
    border-radius: 5px;
}

.profile a {
    text-decoration: none;
    color: #9197B3;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
}

.profile a:hover {
    background-color: #5932EA;
    color: white;
}

.profile a:hover img {
    filter: brightness(0) invert(1); /* Invert the colors and set brightness to 0 */
}

.profile img {
    vertical-align: middle; /* Align the logo vertically */
    margin-right: 15px; /* Add some space between the logo and text */
    width: 24px; /* Set the width of the image */
    height: 24px; /* Set the height of the image */
}

.logo-container {
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 10; /* Ensure the logo stays on top of other elements */
    display: flex;
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Add some space between logo/text and menu items */
}

.logo {
    width: 70px; /* Adjust as needed */
    height: auto; /* Keep the aspect ratio */
}

.greeting-message {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    text-align: center; /* Center the greeting message */
    margin-bottom: 20px; /* Add some space below the greeting message */
    font-size: 24px; /* Adjust the font size */
    color: #333; /* Adjust the color */
}

.dashboard-content {
    position: absolute;
    top: 100px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    width: 75%;
    background-color: #ffffff;
    padding: 20px;
    margin-right: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 60px rgba(0, 0, 200, 0.1);
    display: flex;
    flex-direction: row; /* Change the direction to row */
    justify-content: space-between; /* Add this line */
    align-items: center;

}

.Plan-detail {
    display: flex;
    align-items: center; /* Align items vertically */
}

.svg-container {
    height: 40px;
    width: 40px;
    position: relative;
    display: inline-block;
    background-color: #D3FFE7;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px; /* Add some space between the svg-container and Total-Plan-Content */
}

.Plan-Content {
    flex: 1; /* Take up remaining space */
}


